<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE configuration-->
        <!--PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
        <!--"http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>-->
    <!--<typeAliases>-->
        <!--<typeAlias alias="Person" type="com.example.demo.module.Person"/>-->
        <!--&lt;!&ndash;<package name="com.example.demo.module"/>&ndash;&gt;-->
    <!--</typeAliases>-->

    <!--&lt;!&ndash;<environments default= "test">&ndash;&gt;-->
        <!--&lt;!&ndash;<environment id=  "test">&ndash;&gt;-->
            <!--&lt;!&ndash;<transactionManager type= "JDBC">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<property name= "" value= ""/>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</transactionManager>&ndash;&gt;-->
            <!--&lt;!&ndash;<dataSource type= "UNPOOLED" >&ndash;&gt;-->
                <!--&lt;!&ndash;<property name= "driver" value= "com.mysql.jdbc.Driver"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<property name= "url" value="jdbc:mysql://localhost:3306/ test"/>&ndash;&gt;-->
                <!--&lt;!&ndash;<property name= "username" value= "root" />&ndash;&gt;-->
                <!--&lt;!&ndash;<property name= "password" value="123456"/>&ndash;&gt;-->
            <!--&lt;!&ndash;</dataSource>&ndash;&gt;-->
        <!--&lt;!&ndash;</environment>&ndash;&gt;-->
    <!--&lt;!&ndash;</environments>&ndash;&gt;-->

    <!--<mappers >-->
    <!--<mapper resource="com/example/demo/mapper/PersonMapper.xml"/>-->
    <!--</mappers>-->
<!--</configuration>-->